img
{
	border: 3px;
	border-radius: 15px;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: solid;
}

body
{
	background: url(../img/back.jpg) no-repeat fixed top center; background-size: cover;
}


