/*==========================================================================================================<----------------------<Menghilangkan Border garis bawah>*/
hr
{
	border: 0px;
}

/*==========================================================================================================<----------------------<Menghilangkan ul*/
ul
{
	list-style: none;
}

/*==========================================================================================================<----------------------<Mengubah ukuran font>*/
p
{
	font-size: 20px;
	color: #fff;
}

/*==========================================================================================================<----------------------<Menambah backround>*/
body
{
	background: url(back.jpg) no-repeat fixed top center; background-size: 100%;
}

/*==========================================================================================================<----------------------<*h1*/
h1
{
	font-size: 60px;
	color: #fff;
}
/*==========================================================================================================<----------------------<*h2*/
h2
{
	color: #fff;
}
/*==========================================================================================================<----------------------<*main*/

.container{
	max-width: 1080px;
	border:3px;
	margin: 40px auto;
	border-radius: 0px;
	background:#fff;
	overflow: hidden;
	padding: 10px;
}

.header
{
	background:url(kid.jpg)no-repeat;
	height: 400px;
	background-size: cover;
	padding:30px;
	margin: 0px;
	text-align: center;
}

.left,
.middle,
.right
{
	border-radius: 25px;
	float: left;
	padding: 10px;
	margin: 10px;
}

/*==========================================================================================================<----------------------<*Layout kiri*/
.left 
{
	width: 250px;
	background: #66c2ff;	
	border-top: 10px solid #0099ff;
}

/*==========================================================================================================<----------------------<*Layout tengah*/
.middle
{
	width: 350px;
	background: #ff9999;
	text-align: center;
	border-top: 10px solid #ff4d4d;
}


/*==========================================================================================================<----------------------<*Layout kanan*/
.right
{
	width: 350px;
	background: #85e085;
	text-align: center;
	border-top: 10px solid #34cb34;
}

/*==========================================================================================================<----------------------<*setting gambar tengah dan kanan */
.right img,
.middle img
{
	max-width: 200px;
	height: 200px;
	border-radius: 100%;
}

/*==========================================================================================================<----------------------<*Untuk ukuran 1080px kebawah */
@media screen and (max-width: 1080px){

	.container 
	.left,
	.middle,
	.right {
		width: auto;
		float: none;
	}
}

/*==========================================================================================================<----------------------<*Untuk ukuran layar 700px kebawah */
@media screen and (max-width: 780px){
	
	
	.header
	{
		text-align: center;
	}
	.left,
	.middle,
	.right {
		width: auto;
		float: none;
	}

}



