
.navbar-wrapper .navbar {
  padding-right: 7px;
  padding-left: 7px;
  background: #0d0d0d;
  border-radius: 5px;

}



.navbar-wrapper .container {
  height: 10px;
  background: #0d0d0d;
  border-radius: 5px;
  
}

.navbar-wrapper .navbar .container {
  width: auto;
  font-size: 18px;
}

.center
{
	text-align: center;
}

.text
{
	font-size: 16px;
}

.carousel {
  height: 750px;
  margin-bottom: 60px;
}

.carousel .item {
  height: 750px;
  background-color: #777;
}

.carousel-inner
{
  color: #000;
}

a
{
  font-size: 18px;
}

