
.navbar-wrapper .navbar {
  padding-right: 71px;
  padding-left: 71px;
  background: #333333;
  border-radius: 10px;
  width: 1000px;
}

.navbar-wrapper .container {
  height: 10px;
  background: #333333;
  border-radius: 10px;
  width: 1000px;
}

.navbar-wrapper .navbar .container {
  width: auto;
  font-size: 18px;
}