
.gambaratas
{ 	
  	margin: -30px; 
    color: #000;
    width: auto;
	height: 400px;  
	padding: 5px; 
	background : url(back1.jpg) no-repeat; background-size: 100% auto;
	position: relative;
	margin-bottom: 10px;
}
/*==========================================================================================================<----------------------<Gambar Header>*/
.judul
{
	margin: -40px;
	text-align: center;
	font-size: 60px;
	font-family: "Century Gothic";
}
/*==========================================================================================================<----------------------<Tulisan Judul>*/
.daftarlagu
{
	border-radius: 25px;
	padding: 20px;
	font-size: 20px;
	left: 3%;
	width: 400px;
	margin-top: 20px;
	position: relative;	
	margin-top: 80px;
	background-color: #ffad33;
	list-style:none;
	float: left;
}

/*==========================================================================================================<----------------------<daftar lagu 1-20>*/
hr
{
	border: 0px;
}
/*==========================================================================================================<----------------------<Menghilangkan Border>*/
img
{
	width: 200px;
}
/*==========================================================================================================<----------------------<semua ukuran image>*/
.lagu
{
	border-radius: 25px;
	margin-top: 35px;
	margin-left: 600px;
	height: auto;
	width: 500px;
	position: relative;	
	background-color: #ffb3cc;
	text-align: center;
	list-style:none;
	padding: 5px; 
}
/*==========================================================================================================<----------------------<lirik lagu sampe 10*/
.lagu2
{
	border-radius: 25px;
	margin-top: -6560px;
	margin-left: 1200px;
	height: auto;
	width: 500px;
	position: relative;	
	background-color:  #00ccff;
	text-align: center;
	list-style:none;
	padding: 5px; 
}
/*==========================================================================================================<----------------------<lirik lagu 11-20*/
ul
{
	list-style: none;
}

p
{
	font-size: 20px;
}

body
{
	background: url(back2.jpg) no-repeat fixed top center; background-size: cover;
}

